#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 > #backgroundBox {
  position: absolute;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_1 {
  position: absolute;
  width: 356.0px;
  min-height: 639.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_1 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_1 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 20.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 20.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_1 {
  position: absolute;
  width: 290.49600000000004px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_1 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_1 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 {
  position: absolute;
  width: 290.49600000000004px;
  height: 34.09976798143856px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
  text-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_1 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_2 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 {
  position: absolute;
  width: 290.49600000000004px;
  height: 34.09976798143862px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
  text-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_2 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 {
  position: absolute;
  width: 290.49600000000004px;
  height: 34.09976798143862px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
  text-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_3 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_3 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 8.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 8.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 8.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_1 {
  position: absolute;
  width: 11.392000000000223px;
  height: 16.308584686774964px;
  -webkit-transform: rotate(270.0deg);
  -moz-transform: rotate(270.0deg);
  transform: rotate(270.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_1 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_4 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 {
  position: absolute;
  width: 290.49600000000004px;
  height: 34.09976798143856px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
  text-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_4 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_5 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_6 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_2 {
  position: absolute;
  width: 128.87499999999955px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_2 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_2 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_2 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_2 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_2 {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_2 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_2 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_2 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_3 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_3 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_4 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_4 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_3 {
  position: absolute;
  width: 139.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_3 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_3 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_3 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_3 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_3 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_3 {
  position: absolute;
  width: 179.00000000000017px;
  min-height: 42.763459917276236px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_3 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_4 {
  position: absolute;
  width: 179.00000000000017px;
  min-height: 42.76345991727629px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_4 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_5 {
  position: absolute;
  width: 179.00000000000017px;
  min-height: 42.76345991727635px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_5 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 {
  position: absolute;
  width: 179.00000000000017px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_5 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 12px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_5 {
  position: absolute;
  width: 9.359477124183428px;
  height: 4.679738562091529px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_5 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_7 {
  position: absolute;
  width: 56.156862745098024px;
  min-height: 29.748493855496463px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_7 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_6 {
  position: absolute;
  width: 91.0px;
  min-height: 41.984833110146724px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_6 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_6 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_7 {
  position: absolute;
  width: 91.0px;
  min-height: 41.98483311014701px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_7 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_7 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 {
  position: absolute;
  width: 90.99999999999994px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 .valign {
  vertical-align: middle;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Input_6 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 12px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_6 {
  position: absolute;
  width: 4.758169934640932px;
  height: 2.379084967320307px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Image_6 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_8 {
  position: absolute;
  width: 79.41818181818212px;
  min-height: 22.581221524202647px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_8 {
  box-shadow: none;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a4b551c0-ff94-4b10-bbcf-836d871d1332 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}